@tailwind base;
@tailwind components;
@tailwind utilities;

/* create new blog form */
.formCreate {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.formCreate label {
  text-align: left;
  display: block;
}
.formCreate h1 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}
.formCreate input, .formCreate select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.8); /* Adjust opacity here */
  box-sizing: border-box;
  display: block;
}
.formCreate button {
  background: #000000;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}